# Node dependencies
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Logs
logs/
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage / test
coverage/
.nyc_output/

# Environment variables
.env
.env.*.local

# Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
